.ly_wrapper {
  padding: 140px 0;
  background: linear-gradient(rgba(242, 242, 242, 0.8), rgba(242, 242, 242, 0.8)), url(../img/servicepage-main.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &_inner {
    width: 68%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @include tab {
      width: 90%;
      flex-direction: column;
    }
  }
}

.breadclumb__newsAr {
  @include tab {
    width: 92%;
  }
}

.ly_main {
  width: 70%;
  @include tab {
    width: 100%;
  }
}


.ly_side {
  width: 26%;
  @include tab {
    width: 100%;
    margin-top: 60px; 
  }
}


.bl_news {
  background: #ffffff;
  padding: 50px 30px;
  overflow: hidden;

  & > a {
    display: flex;
    justify-content: space-between;
    @include sp {
      justify-content: unset;
      flex-direction: column;
    }
  }

  & + & {
    margin-top: 26px;
    @include tab {
      margin-top: 30px;
    }
  }
  @include sp {
    padding: 15px;    
  }
}

.bl_news_imgWrapper {
  width: 33%;
  height: auto;
  @include sp {
    width: 100%;
  }
  & > img {
    width: 100%;
    height: auto;
  }

}

.bl_news_body {
  width: 62%;
  @include sp {
    width: auto;
    padding: 20px 0;
  }
}

.bl_news_time {
  display: block;
  font-size: 12px;
  line-height: 1;
}

.bl_news_ttl {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  @include sp {
    font-size: 18px;
  }
}

.bl_news_txt {
  font-size: 14px;
  line-height: 1.5;
}
